*{
  margin: 0;
  padding: 0;
  border: 0;
}

:root{
  --primary-color: #000839;
  --primary-shade: #00020b;
  --para-color: #80849c;
  --helper-color: #1264fa;
  --white: #fff;
  --bg-color: #e6e6eb;
}

body 
    { 
    font: 86.5%/2.6  "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif;
    color: #000000;     
    text-align:center; 
} 

.container{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

h1 {
  padding-top: 12px;
}

.listItem{
  cursor: pointer;
  list-style: none;
  width: 90%;
  margin-bottom: 15px;
  height: 30px;
  border-radius: 6px;
}

.neo-btn {
box-shadow:  6px 6px 12px #a8a8a8,
             -6px -6px 12px #ffffff;
}

button:hover{
  color: white;
  background-color: rgb(59, 51, 51);
}

.container-base {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.left-sidebar {
  height: 100vh;
  width: 25%;
  border-right: 2px solid rgb(41, 34, 34);

}

.main-view {
  height: 100vh;
  width: 70%;
  /* border: 2px solid blue; */
}

.create-doc-btn{
  width: 200px;
  border: 0.5px solid black;
  border-radius: 6px;
}

.text-input{
  border: 1px solid black;
}

.save-button{
  border: 1px solid black;
  width: 65px;
  height: 35px;
}

.input-textarea{
  width: 100%;
  padding-left: 15%;
  padding-right: 15%;
}

.main-view-div{
  width: 100%;
}


.document-div{
  background-color: #c5bdc5;
  width: 100%;
  height: 520px;
  overflow:scroll;

  text-align: center;
  padding: 20px;
  margin: 30px;
}

.doc-btn{
  width: 70px;
  border: 1px solid black;
  border-radius: 12px;
}